USE [master]
GO
/****** Object:  Database [RegulationMannage]    Script Date: 9/29/2023 6:16:37 PM ******/
CREATE DATABASE [RegulationMannage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RegulationMannage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RegulationMannage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RegulationMannage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RegulationMannage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegulationMannage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegulationMannage]
GO
/****** Object:  User [viet080702]    Script Date: 9/29/2023 6:16:37 PM ******/
CREATE USER [viet080702] FOR LOGIN [viet080702] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Regulation]    Script Date: 9/29/2023 6:16:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regulation](
	[NUM_QD] [varchar](256) NOT NULL,
	[DATE_APPLY] [date] NULL,
	[NAME] [nvarchar](256) NULL,
	[STATUS] [nvarchar](256) NULL,
	[POSITION] [nvarchar](256) NULL,
	[DEGREE] [nvarchar](256) NULL,
	[LEVEL_APPLY] [int] NULL,
	[COE_SALARY] [float] NULL,
	[ALLOWANCE_COE_SALARY] [float] NULL,
	[ALLOWANCE_POSITION] [float] NULL,
	[ALLOWANCE_RESPONSIBILITY] [float] NULL,
	[DATE_COE_SALARY_NEXT_RISE] [date] NULL,
	[APPLING] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_QD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
